/* *{
    border: 1px solid black;
} */
.bg{
    
    border: 1px solid black;
    
    border-radius: 5px;
    padding: 0;
    margin: auto;
    display: block;

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
}
.MainScreen{
    background-image: "url(/background.png)";
    height: 100vh;
    max-height: 100%;
    
    
}



.Header{
    padding: 1%;
    text-align: right;
    margin: 2px;
    border-radius: 100px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.HeaderTitle{
    border-radius: 15px;
    font-family: 'Brush Script MT', cursive;
    padding: 5px;
    margin: 5px;
    font-weight: bolder;
    
}

.BigRedBall{
    border-radius: 5%;
    height: 112px;
    width: 60px;
    margin: 0;

}

.HeaderCenter{
    width: 60%;
    font-size: large;
}

.HeaderLinks{
    display: flex;
    justify-content: flex-end;
}

.StatButton{
    background-color: #10DA3C;
    border-color: black;
    margin-right: 20px;
    height: 40px;
    width: 110px;
    border-radius: 50px;
    font-size: large;
    font-weight: bold;
    text-shadow:
    -1px -1px 0 #000,  
     1px -1px 0 #000,
     -1px 1px 0 #000,
      1px 1px 0 #000;

}

.StatButton:hover, .StatBackButton:hover{
    background-color: rgb(0, 119, 0);
    border-color: rgb(35, 35, 35);
}

.StatContent{
    background-image: "url(/background.png)";
    width: 640px;
    height: 480px;
    text-align: center;
    padding: 20px;
    margin: auto;
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border: 1px solid black;
    background: #f5f5f5;
}

.StatBackButton{
    background-color: rgb(14, 137, 0);
    border-color: rgb(31, 32, 31);
    margin: 0 auto;
    position: absolute;
    bottom: 30px;
}

.StatText{
    margin: 5px;
    padding: 10px;
}

.LogOutButton{
    background-color: #F42424;
    border-color: black;
    height: 40px;
    width: 110px;
    border-radius: 50px;
    font-size: large;
    font-weight: bold;
    text-shadow:
    -1px -1px 0 #000,  
     1px -1px 0 #000,
     -1px 1px 0 #000,
      1px 1px 0 #000;
}

.LogOutButton:hover{
    background-color: rgb(152, 24, 24);
    border-color: black;
}

.ChatBlock{
    border: 1px solid black;
    padding: 4%; 
    margin: 2px; 
    background-color: rgb(247, 247, 247);
    border-radius: 30px;
}

.ChatHeader{
    text-align: center; 
}

.ChatComponent{
    height: 100%;
}

.ChatMessages{
    border: 1px solid black;
    background-color: #fcfcfc;
    overflow: scroll;
    height: 78%;
}

.PoolBlock{
    border: 1px solid black;
    padding: 4%; 
    margin: 2px;  
    background-color: rgb(247, 247, 247);
    border-radius: 30px;
}

.PoolComponent{
    height: 100%;
}

.PoolHeader{
    text-align: center;
}

.UserListWrapper{
    overflow: scroll;
    height: 75%;
}

.SearchBar{
    margin: 15px auto;
    width: 100%;
}

.PoolElem{
    background-color: #fcfcfc;
    border: 1px solid rgb(49, 49, 49);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1px;
    transition: background-color 0.5s ease;
}

.Disabled{
    background-color: #e7abab;
    border: 1px solid rgb(48, 48, 48);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1px;
}

.PoolElem:hover{
    background-color: #dddddd
}

.PoolElemInfo{
    margin-left: 10px;
    margin-top: 2px;
    margin-bottom: 2px;
}

.PoolElemButton{
    margin-right: 10px;
}

.Footer{

    text-align: center;  
    margin: 2px; 
    color: white;
    padding-top: 15px;
    border-radius: 10px;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: large;
    font-weight: bold;
    text-shadow:
    -1px -1px 0 #000,  
     1px -1px 0 #000,
     -1px 1px 0 #000,
      1px 1px 0 #000;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: lightgrey; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: grey; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #b4b090; 
  }