#canvas{
    background-image: "url(/background.png)";
    background: #ffffff;
}
.InGameDiv{
    padding: 0;
    margin: auto;
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border: 1px solid black;   
    width: 640px;
    height: 530px;
    background: #dadada;
}
.GameFooter{
    display: flex;
}
#gamemsg{
    flex: 1;
}
.QuitButton{
    margin-left: 4px;
    margin-right: 2px;
    margin-bottom: 10px;
}
.QuitButton:hover{
    background-color: rgb(162, 0, 0);
}
.GameSetupContent, .GameOverContent{
    width: 640px;
    height: 480px;
    text-align: center;
    padding: 20px;
    margin: auto;
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border: 1px solid black;
    background: #ebebeb;
}
.ButtonSection{
    display: flex;
    justify-content: space-between;
    margin: 30px auto;
    padding-top: 50px;
    width: 80%;
}
.LobbyButton{
    background-color: #F42424;
    border-color: rgb(25, 25, 25);
    height: 50px;
    width: 120px;
    border-radius: 25px;
}
.LobbyButton:hover{
    background-color: #790c0c;
    border-color: rgb(30, 30, 30);
}
.PlayButton{
    background-color: #10DA3C;
    border-color: rgb(39, 39, 39);
    height: 50px;
    width: 120px;
    border-radius: 25px;
}
.PlayButton:hover{
    background-color: #0c8827;
    border-color: rgb(29, 29, 29);
}
.WinnerName{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    color: red;
}